<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <!-- Logo -->
    <img src="assets/image/hlogo.png" routerLink="home"  style="width: 30%;margin-left: -4%">

    <!-- Mobile Toggle -->
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target="#navbarNav">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target="#navbarNav" style="color: white">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="blogs" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target="#navbarNav" style="color: white">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="event" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target="#navbarNav" style="color: white">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target="#navbarNav" style="color: white">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="donor" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target="#navbarNav" style="color: white">Donors</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark btn-lg px-4 py-3 navbar-btn bg-white" style="color: #3CC78F" routerLink="donation" routerLinkActive="active">
            <span style="color: #3CC78F">Make a Donate</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
