<!-- Gallery Grid -->
<div class="h1 text-center" id="pageHeaderTitle" style="color: #1e9161; font-weight: bold; font-size: 3rem">Our Gallery</div>
<div class="gallery-grid">
  <div
    class="gallery-item"
    *ngFor="let image of images"
    (click)="openModal(image)">
    <img [src]="image" alt="Gallery Image" />
  </div>
</div>

<!-- Modal -->
<div class="modal-overlay" *ngIf="isModalOpen" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close-btn" (click)="closeModal()">&times;</span>
    <img [src]="currentImage" alt="Large Preview" class="modal-image" />
  </div>
</div>
