<section class="mt-5 container">
  <h1 class="text-center" style="color: #1e9161; font-weight: bold; font-size: 3rem;">Honoring Our Donors</h1>
  <p class="text-center">
    At Give With Smile, we believe that true change happens when kind-hearted individuals come together for a cause. We extend our deepest gratitude to our generous donors who have contributed to bringing smiles to children in need.

    Your support—whether through financial aid, clothes, or school supplies—has helped shape the future of many underprivileged children. Because of you, they can step into classrooms with confidence, hope, and the opportunity to build a brighter tomorrow.

    We proudly recognize and appreciate every donor whose kindness has made a difference.
  </p>
</section>
<table class="table">
  <thead class="thead-success">
  <tr>
    <th scope="col">SN</th>
    <th scope="col">Donner Name</th>
    <th scope="col">Address</th>
    <th scope="col">Items Donated</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
