<section class="projects-section">
  <!-- Hero Banner -->
  <div class="hero-section text-center text-white py-5">
    <div class="image-container">
      <img src="./assets/image/bradcam.png" class="hero-image">
      <div class="overlay">
        <div class="container">
          <h1 class="display-4 fw-bold mb-4">We Need your help. Please</h1>
          <button type="submit" class="btn" style="background-color: #3CC78F; color: white"
                  (click)="callDonation()">
            Make a Donation
          </button>
        </div>

      </div>
    </div>
  </div>
</section>
<div class="row text-center mb-5">
  <div class="col">
    <h2 class="display-5 fw-bold custom-gradiant" style="color: #3CC78F;">Our Expert Volunteer<br> Alwyes ready</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-md-0 mb-3">
      <div class="card d-flex flex-column align-items-center justify-content-center">
        <div class="inner-content d-flex flex-column align-items-center justify-content-center">
          <div class="img-container rounded-circle">
            <img src="assets/image/rohit.png"
                 alt="" class="rounded-circle">
          </div>
          <div class="h3">Rohit Chapagain</div>
          <p class="designation text-muted text-uppercase">CEO Founder</p>
        </div>
        <ul class="social-links d-flex align-items-center justify-content-around list-unstyled w-100 fs-5 m-0 p-0">
          <li><a href="#"><i class="bi bi-facebook"></i></a></li>
          <li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
          <li><a href="#"><i class="bi bi-google"></i></a></li>
          <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 mb-md-0 mb-3">
      <div class="card d-flex flex-column align-items-center justify-content-center">
        <div class="inner-content d-flex flex-column align-items-center justify-content-center">
          <div class="img-container rounded-circle">
            <img src="assets/image/rohit.png"
                 alt="" class="rounded-circle">
          </div>
          <div class="h3">Rohit Chapagain</div>
          <p class="designation text-muted text-uppercase">Volunteer Manager</p>
        </div>
        <ul class="social-links d-flex align-items-center justify-content-around list-unstyled w-100 fs-5 m-0 p-0">
          <li><a href="#"><i class="bi bi-facebook"></i></a></li>
          <li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
          <li><a href="#"><i class="bi bi-google"></i></a></li>
          <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 mb-md-0 mb-3">
      <div class="card d-flex flex-column align-items-center justify-content-center">
        <div class="inner-content d-flex flex-column align-items-center justify-content-center">
          <div class="img-container rounded-circle">
            <img src="assets/image/uddhav.jpg"
                 alt="" class="rounded-circle">
          </div>
          <div class="h3">Uddhav Magar</div>
          <p class="designation text-muted text-uppercase">Volunteer Manager</p>
        </div>
        <ul class="social-links d-flex align-items-center justify-content-around list-unstyled w-100 fs-5 m-0 p-0">
          <li><a href="#"><i class="bi bi-facebook"></i></a></li>
          <li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
          <li><a href="#"><i class="bi bi-google"></i></a></li>
          <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
        </ul>

      </div>
    </div>
  </div>
</div>
<div class="row text-center mb-5">
  <div class="col-12">
    <h2 class="display-5 fw-bold custom-gradiant" style="color: #3CC78F;">How GiveWithSmile works</h2>
    <div class="video-container position-relative">
      <img src="assets/image/help.png" alt="Gardening Image" class="img-fluid rounded w-100">
      <button class="btn play-btn position-absolute" data-bs-toggle="modal" data-bs-target="#videoModal">
        <i class="bi bi-play-circle"></i> Play 1 min video
      </button>
    </div>

    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="videoModalLabel">Video</h5>
            <button type="button" class="btn-close" style="margin-right: 10px;" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-0">
            <div class="ratio ratio-16x9">
              <iframe src="https://www.youtube.com/watch?v=nrE-C1VmqEI" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

